<%#= form_for [ @message, Comment.new ], :new, fn f -> %>
<%= form_for @comment_changeset, :create, fn f -> %>
  <%= textarea f, :content, size: "100x20" %><br>
  <%= submit "Post comment" %>
<% end %>
