<h1>Action Cable Examples</h1>

<p>
  Hello <%= @current_user.name %><br>
  <%= link 'Logout!', to: sessions_path(@conn, :delete), method: :delete %>
</p>

<p>
  <ul>
    <li><%#= link 'Messages with live comments', to: messages_path %></li>
  </ul>
</p>
